.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/
.gradle/
*.iml
*.ipr
*.iws

*.apk

*.xcf
umbrella-alarm-promo.png

crashlytics-build.properties
mobile/crashlytics.properties
com_crashlytics_export_strings.xml